.odd-numbered-elements {
    background-color: red;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
.font-size-24 {
    font-size: 24px;
}
#second-element {
    color: blue;
    font-size: 36px;
}
#fourth-element {
    background-color: lightgreen;
    font-weight: bold;
}